.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.container {
  margin: 1rem;
  text-align: center;
  position: relative;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  background-color: #fff;
  border: 0.5rem solid #fff;
}

h1 {
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.container > .vote {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  border: 0.5rem solid #181717;
  padding: 0.5rem;
  bottom: 5px;
  left: 5px;
}

.container > .info {
  position: absolute;
  overflow: auto;
  padding: 0.5rem;
  transform: translateY(102%);
  background-color: #fff;
  width: 100%;
  bottom: 0;
  transition: transform 0.5s ease-in-out;
}

img {
  display: block;
  margin: auto;
  width: 100%;
}

.container:hover > .info {
  transform: translateY(0);
  z-index: 1;
}
